/TUIO/
/TuioApplet.class
/TuioDemo$1.class
/TuioDemo$2.class
/TuioDemo.class
/TuioDemoBlob.class
/TuioDemoComponent.class
/TuioDemoObject.class
/TuioDump.class
/com/
/compile.bat
/compile.sh
/doc.sh
/manifest.inc
/game/
